* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  
 
 

}

/* -------------------------navbar---------------------------------------- */

header {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
  border-bottom: 2px solid #E0E0E0;
  background-color: #0a2a43;





}



#logoname {
  font-family: 'Playfair Display', serif;
  font-weight: 50;
  color:rgb(202, 74, 28);
  margin-left: 0;
  margin-top:-5px;
}

#logo{
    width: 35px;
    height: 35px;
    margin-top: -10px;
    border-radius: 30px;
    margin-right: 10px;
   
}

.logostyling{
    display: flex;
}



nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px ;

 
}

nav ul li a {
  color: white;
  font-size: 15px;
}

nav ul li a:hover {
  color: #F4AFC0;
  transition: 0.4s;
}


#menu-icon {
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: none; 
  padding: 10px;
}





/* -----------------------------hero section--------------------------------- */

.herosection{
  background-color:#F4AFC0 ;
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  padding: 100px;
 gap: 50px;
  justify-content: center;
  align-items: center;

  
}

.content p{
  font-size: 18px;
  color: #0a2a43;
  font-family: 'Times New Roman', Times, serif;
}



 .content  h1{
  font-size: 100px;
  font-family:"MonteCarlo", cursive; ;
 
}
.content button{
background-color:#1B3B6F;
color: white;
font-size: 15px;
border-radius: 20px;
margin-top: 10px;
padding: 10px 20px;
border: transparent;
}




.heroimage img{
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

span{
  font-family:"MonteCarlo", cursive;
  color: #1B3B6F;
}

.herosection a{
  color: white;
}

/* ----------------------------features---------------------------------------- */

 .box-container{
display: flex;
  justify-content: space-around;
  gap: 20px;
 margin-top: 40px;
  flex-wrap: wrap;
  margin-bottom: 50px;
} 


 .box{
  width: 25vw;
  aspect-ratio: 1/1;
  max-width: 200px;
  font-size: 21px;
  background-color: #1B3B6F;
  color: white;
padding: 30px;
display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  flex-wrap: wrap;
}


/* ----------------------------------------collage section--------------------------- */
.text-collage-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 20px;
  flex-wrap: wrap;
 
}
.text{
  flex: 1;
  /* min-width: 250px; */
}
.text h2{
  font-size: 50px;
  color:#AA336A;
}

.collage{
 
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-auto-rows: 100px;
  gap: 10px;
  min-width: 250px;
  flex-wrap: wrap;
}
.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;

}

.image-large{
  grid-column: span 3;
  grid-row: span 2;
 
}

.image-medium{
grid-column: span 2;
grid-row: span 1;


}
.image-small{
  grid-column: span 2;
  grid-row: span 1;
 

} 
/* ----------------------destination---------------------------------- */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;

}

.card {
  width: 350px;

  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;

}

.card img {
  width: 100%;
  height: 300px;

}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.card-content h3 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #1B3B6F;
  text-align: center;

}

.card-content p {
  color: #666;
  font-size: 16px;
  line-height: 1.3;
  margin-top: 20px;
  text-align: center;

}



#destheading {
  text-align: center;
  font-family: monospace;
  color: #AA336A;
  font-size: 50px;
  padding-top: 40px;

}
.rating{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


.rating div{
color: #8c106b;
font-size: 18px;
font-weight: 400;

}
/* -----------------contact------------------------ */

.contact-section p{
  color: #1B3B6F;
  font-family:monospace;
  font-size: 25px;
  font-weight: 500;
}

.contact {
  background-color: rgb(190, 220, 239);
  color: #1B3B6F;
  font-family: monospace;
  width: 25%;
  font-size: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;


} 

.contact-section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 60px;


}
.contact-section button{
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #1B3B6F;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: transparent;
  cursor: pointer;

 

}
/* ---------------------feedback section-------------------- */
.card-details{
  font-family: 'Times New Roman', Times, serif;
  color: rgba(196, 75, 95, 0.836);
}

.feedback-section{
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10rem;
  margin-top: 50px;

}

.container-left h2{
margin-bottom: 2rem;
font-size: 2.5rem;
font-weight: 500;
color: #8c106b;

}

.container-left p{
  color: #0a2a43;
  margin-bottom: 1rem;

}

.container-right{
  display: grid;
  gap: 2rem;
}

.card2{
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  cursor: pointer;
}

.card2 img{
  max-width: 75px;
  border-radius: 100%;
}
.container-content{
display: flex;
gap: 1rem;
}

.container-content span{
  font-size: 2rem;
  color: #AA336A;
}

.card-details p{
  font-style: italic;
  color: #FF6B81;
  margin-bottom: 1rem;
}

.card-details h4{
  text-align: right;
  color: #666;
  font-size: 1rem;
  font-weight: 500;
}





/* ----------------------footer------------------------- */

.container2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: rgba(210, 223, 227, 0.811);
  font-family:'Times New Roman', Times, serif;
 
  
}

.footer-content h4{
  color: #0a2a43;
  margin-top: 10px;
  margin-bottom: 10px;


 
}
.footer-content p{
  margin-bottom: 10px;
  color: #1B3B6F;
  cursor: pointer;
  gap: 30px;
}

.footer-content i{
  color: #1B3B6F;
}

.socialrw2{
 display: flex;
 justify-content: space-evenly;
 cursor: pointer;
}

.copyrightfooter{
  text-align: center;
}



@media (max-width: 768px) {

  header{
    height: 65px;
  }

  nav {
    position: relative;
  }

  #menu-icon {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
  }


  nav ul {
    position: absolute;
    top: 50px;
    right: 0;
    background: #0a2a43;
    width: 180px;
    flex-direction: column;
    padding: 20px;
    display: none;
    border-bottom-left-radius: 10px;
  }


  nav ul.active {
    display: flex;
  }

  nav ul li {
    margin: 10px 0;
  }

/* ---------------------hero-section---------------------- */
.herosection{
  padding: 40px 20px;
  width: 100%;
  min-height: 70vh;
}

.container{
  width: 100%;
  flex-direction: column;
  text-align: center;
  padding: 40px 20px;
  padding: auto;
  gap: 30px;
}

.content h1{
  font-size: 30px;
  line-height: 90px;

}

.content p{
  font-size: 16px;
  padding: 0 10px;
}

.content button{
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 18px;
}

.heroimage img{
  width: 260px;
  height: 260px;
  border-radius: 15px;
}

/* ----------------------------features------------------- */

.box-container{
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.box{
  width: 150px;
  aspect-ratio: 1/1;
  font-size: 16px;
  padding: 20px;
  border-radius: 50%;

}

/* ------------------collage-section-------------------------------- */

  .text-collage-container {
    flex-direction: column;     
    align-items: center;
    gap: 20px;
    padding: 20px 10px;
  }

  .text h2 {
    font-size: 30px;             
    text-align: center;
  }

  .text p {
    font-size: 16px;
    text-align: center;
    padding: 0 10px;
  }

  .text button {
    padding: 8px 18px;
    font-size: 14px;
    border-radius: 15px;
  }

  .collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: 100px;
    gap: 8px;
    width: 100%;
    max-width: 400px;  
  }

  .image-large {
    grid-column: span 2;   
    grid-row: span 2;
  }

  .image-medium,
  .image-small {
    grid-column: span 1;
    grid-row: span 1;
  }

  .image img {
    border-radius: 10px;     
  }
  
 .text-collage-container {
    flex-direction: column;      
    align-items: center;
    gap: 20px;
    padding: 20px 10px;
  }

  .text h2 {
    font-size: 30px;          
    text-align: center;
  }

  .text p {
    font-size: 16px;
    text-align: center;
    padding: 0 10px;
  }


  .text button {
    padding: 8px 18px;
    font-size: 14px;
    border-radius: 15px;
  
  }

  .collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: 100px;
    gap: 8px;
    width: 100%;
    max-width: 400px;  
  }

  .image-large {
    grid-column: span 2;     
    grid-row: span 2;
  }

  .image-medium,
  .image-small {
    grid-column: span 1;
    grid-row: span 1;
  }

  .image img {
    border-radius: 10px;     
  }

  /* -----------------contact------------------------------ */

   #contact  {
   padding: 30px 20px;
   margin: auto;
   font-size: 10px;
    align-items: center;
  } 

  #contact label {
    font-size: 14px;
  }

  .contact-section button{
    padding: 5px ;
    font-size: 10px;
  }

  #contact p{
    font-size: 14px;
  }
/* -------------------footer-------------------------- */

.footer-content {
  font-size: 10px;
}

.copyrightfooter{
  font-size: 10px;
}



}

/* -------------------tablet-view------------------ */
@media(min-width:768px)and(max-width:1024px){

  header{
    height: 60px;
  }
  nav ul{
    gap: 20px;
    padding: 15px;
  }

  #menu-icon{
    font-size: 28px;
    top: 12px;
    right: 20px;
  }
/* --------------------------tablet-hero section------------------------------- */
.herosection{
  min-height: 80vh;
  padding: 60px 30px;
}
.container{
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 60px 20px;
}

.content h1{
  font-size: 60px;
  line-height: 1.1;
  text-align: center;
}

.content p{
  font-size: 17px;
  text-align: center;
}

.content button{
  font-size: 15px;
  padding: 10px 22px;
  border-radius: 20px;
}

.heroimage img{
  width: 320px;
  height: 320px;
}


/* --------------------tablet-feature-section-------------------------- */

.box-container{
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.box{
  width: 180px;
  font-size: 18px;
  padding: 25px;
}

/* ---------------------tablet-collage-section---------------------------- */

.text-collage-container{
  flex-direction: column;
  gap: 30px;
  padding: 30px 30px;
}

.text h2{
  font-size: 40px;
  text-align: center;
}

.text p{
  font-size: 16px;
  text-align: center;
}

.text button{
  font-size: 15px;
  padding: 8px 18px;
}

.collage{
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 120px;
  gap: 10px;
  width: 100%;
  max-width: 800px;
}

.image-large{
  grid-column: span 2;
  grid-row: span 2;
}

.image-medium .image-small{
  grid-column: span 1;
  grid-row: span 1;
}

.image img{
  border-radius: 12px;
}

}

/* --------------------------desktop -view---------------------------- */

@media (min-width:1025px){

  .herosection{
    padding: 120px 100px;
  }

  .container{
    gap: 80px;
  }
  .content h1{
    font-size: 120px;
  }

  .content p{
    font-size: 20px;
  }

  .heroimage img{
    width: 450px;
    height: 450px;
  }

  /* -------------------desktop-features--------------------- */

  .box-container{
    gap: 40px;
    justify-content: space-between;
  }

  .box{
    width: 28vw;
    max-width: 220px;
    font-size: 24px;
    padding: 35px;
  }

  /* -----------------desktop-collage----------------------- */
  .text-collage-container{
    gap: 60px;
    padding: 60px 40px;
  }

  .text h2{
    font-size: 60px;
  }

  .text p{
    font-size: 18px;
  }

  .collage{
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 120px;
    gap: 12px;
  }

  .image-large{
    grid-column: span 3;
    grid-row: span 2;
  }

  .image-medium{
    grid-column: span 3;
    grid-row: span 2;

  }

  .image-small{
    grid-column: span 2;
    grid-row: span 1;
  }


}

/* ------------------------feedback-section(mobile+tablet+dektop)----------------------------------- */

@media (width<750px){

 .feedback-section .container-right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }

  .container-right{
    grid-template-columns: repeat(1,1fr);
  }
}

@media(width <1200px){
  .feedback-section{
    gap: 3rem;
  }
}
@media (width<900px){
  .feedback-section{
    grid-template-columns: repeat(1,1fr);
  }
  .container-right{
    grid-template-columns: repeat(2,1fr);
  }

}



/* -----------------mobile-view end------------------------- */

